{% extends 'base.html' %}

{% block header %}
{% block title %} Home {% endblock %}
{% endblock %}

{% block content %}
{% if current_user.is_authenticated %}

<!-- Power button -->
<div class="row d-flex justify-content-center">
  <form method = "POST" >
    <label class='toggle-label'>
      <input type='checkbox' name="runningCheckbox" id=runningButton  {{ RunningButtonStartState }}/>
      <span class='back'>
        <span class='toggle'></span>
        <span class='label on'>ON</span>
        <span class='label off'>OFF</span>
      </span>
    </label>
  </form>
</div>

{% else %}
<div class="row d-flex justify-content-center">
  <a href="{{url_for('auth.login')}}" class="btn btn-primary btn-lg active" role="button">Log In</a>
</div>
{% endif %}

{% if request.args['clear'] == 'True' %}
<script> clearLocalStorage(); </script>
{% endif %}

{% endblock %}
